<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bmsce.studentachievements">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentAchievements">
        <activity
            android:name=".Admin.CreateBatch"
            android:exported="true" />
        <activity
            android:name=".Admin.StudentAchievements"
            android:exported="true" />
        <activity
            android:name=".Student.AddAchievement"
            android:exported="true" />
        <activity
            android:name=".Student.ViewAchievements"
            android:exported="true" />
        <activity
            android:name=".Student.StudentSignUp"
            android:exported="true" />
        <activity
            android:name=".Student.StudentSignIn"
            android:exported="true" />
        <activity
            android:name=".Trial"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>